.body{
    /* background-color: black; */
    /* opacity: 65% ; */
    width: 1340px;
    height: 1125px;
}
#BGimg{
    background-image: url("./images/BGimg.jpg");
    width: 1340px;
    /* height: 1125px; */ 
    height: 730px;
    background-repeat: no-repeat;
}
.BGsec {
    background-color: black;
    height: 460px;
    width: 1340px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a{
    text-decoration: none;
  }
  .BGsec01{
    background-color: black;
    height: 460px;
    width: 1340px;
  }
  .BGsec02{
    background-color: black;
    height: 2060px;
    width: 1340px;
  }
  .SigninBox{
    background-color:rgb(0, 0, 0) ;
    opacity: 70%;
    height: 600px;
    width: 430px;
  }
.SigninBoxSignUp{
    background-color:rgb(0, 0, 0) ;
    opacity: 70%;
    height: 750px;
    width: 450px;
  }
.BGgreyLine{
    background-color: rgb(67, 64, 64);
    height: 10px;
    width: 1340px;
}
.NavBtn{
    background-color: transparent;
    color: aliceblue;
    border: 1px solid white;
}
.NavBtn:hover{
    background-color: antiquewhite;
    color: black;
    box-shadow: 0 0 1px 0.5px white;
}
.MidBtn{
    background-color: transparent;
    color: aliceblue;
    border: 1px solid white;
}
.MidBtn:hover{
    background-color: rgb(185, 8, 8);
    border: rgb(185, 8, 8);
    color: white;
    box-shadow: 0 0 1px 1px rgb(185, 8, 8);
}
.Fh1{
    color: aliceblue;
    padding-top: 5%;
    font-size: 62px;
}
.marquee{
    color: aliceblue;
    margin-left: 35%;
    margin-right: 35%;
}
p{
    color: aliceblue;
    margin-left: 25%;
    margin-right: 25%;
}
